.kratom-about-wrapper {
  display: grid;
  grid-template-columns: 10vw 45fr 55fr 10vw;
  grid-template-rows: minmax(50vh, min-content);
  grid-template-areas: ". image about .";
  gap: 0;
}

.kratom-about-image {
  grid-area: image;
  background-image: url("../../assets/images/Rectangle 13.png");
  background-repeat: no-repeat;
  background-size: 100% 95%, contain;
  transform: translate(0, -20%);
  display: grid;
  align-items: center;
}
.image-inner-heading {
  padding: 0 5rem;
  color: #ffffff;
  font-size: 2rem;
}
.heading-span {
  font-size: 3rem;
}
.description {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 2rem 0;
  line-height: 1.7rem;
}
.kratom-about-content {
  grid-area: about;
  background-image: url("../../assets/images/Rectangle 2.png");
  background-size: 100% 125%, cover;
  transform: translate(-8%, -27%);
  position: relative;
}
.vector-image {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 23rem;
  height: 23rem;
}
.content-description {
  font-size: 1.4rem;
  width: 70%;
  margin: 10rem;
  margin-bottom: 2rem;
  font-family: "GothamBook";
}
.discover-more-btn {
  background-color: #7ac118;
  color: #ffffff;
  object-fit: contain;
  padding: 1rem 1.5rem;
  border-radius: 0.6rem;
  width: fit-content;
  margin: 0 10rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-family: "GothamBook";

}
